.content_constructor{
    width: 80%;
    height: 70%; 
    margin: 0 auto;  
   
}
.title{
    font-size: 25px;
    padding-top: 10px;
}
.content_constructor p{
    text-align: left;
    padding-left: 30px;
    font-size: 20px;
    a{
        color: black;
    }
}
#main{
    border: 1px solid rgb(75, 74, 74);
    margin: 0 auto;  
    width: 80%;
    height: 80%;
    padding-top: 20px;
}

#input_text{
    width: 90%;
    height: 13%;
    display: flex;
    margin: 0 auto;
}
#input_button{
    width: 90%;
    height: 74%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

#input_text #content{
    right: 0px;
    width: 100%;
    font-size:15px;
}
#input_button .same_back_orange{
    flex: auto;
    margin-left:5%;
    width: 22%;
    height: 12%;
    font-size: 10px;
    background-color:orange;
    border: none;
}
#input_button .same_back{
    flex: auto;
    margin-left:5%;
    width: 22%;
    height: 12%;
    font-size: 10px;
    background-color: yellow;
    margin-top: 20px;
    border: none;
}
#input_button .equal_size_clear{
    flex: auto;
    margin-left:5%;
    width: 22%;
    height: 12%;
    font-size: 10px;
    background-color:pink;
    border: none;
}

#input_button .equal_size{
    flex: auto;
    margin-left:5%;
    width: 22%;
    height: 12%;
    font-size: 10px;
    background-color:red;
    border: none;
}
.content_timer{
    text-align: left;
    padding-top: 30px;
    padding-left: 30px;

}
.input_timer{
    width:40%;
    float: left;
    label input{
        width: 60%;
    }
    .start{
        background-color: blue;
        width: 100%;
        line-height:20px;
        margin-top: 15px;
    }
    
}
.share_timer{
    width: 30%;
    height: 20%;
    float: right;
    border: 1px solid rgb(75, 74, 74);
    margin-left: 10px;  
    margin-right: 40px;
    padding-left: 10px;
}


.timer .link{
    margin-top: 100px;
    text-align: left;
    font-size: 20px;
    a{
        color: black;
        padding-left: 30px;
    }
}


