.home {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  .logo{
    background-image: url(../images/hero-image.png);
    background-size: 100%;
    height:100px;
    background-repeat: no-repeat;
    padding-top: 70px;    
  }
  .calculatorImg, .timerImg{
    width: 100%;
    height: 100%;
    margin-top: 60px;
  }
  .calculator{
    float: left;
    width: 30%;
    height: 30%;
    a{
      color: white;
    }
  }
  .timer{
    float: right;
    width: 30%;
    height: 30%;
    a{
      color: white;

    }
  }
}